
.filter {
    grid-area: f;
}
  
.tickets {
    grid-area: t;
}
 
.sort {
    grid-area: s;
}

.header {
    grid-area: h;
    align-items: center;
}
  
.App {
    background-color: #f3f7fa;
    text-align: center;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "h h "
      "f s"
      "f t";
      grid-column-gap: 5px;
    
      
 }