.cost{
    grid-area: c;
    align-items: center;
    align-self: center;
    background: white;
    border: 2px solid #333;
    border-color: white;
    border-radius: 5px;
}

.p1{
    grid-area: p1;
}
.allticket{
    border: 2px solid;
    border-color: white;
    border-radius: 5pt;
    margin: 15px;
    background-color: white;
}

.p2{
    grid-area: p2;
}

.p3{
    grid-area: p3;
}

.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 6;
    grid-template-areas: 'p1 p2 p3 ' 'p4 p5 p6' 'p7 p8 p9' 'p10 p11 p12' 'p13 p14 p15' ;
}

.peresad {
    text-align: left
}


.time{
    font-size: x-large
}

.btn{
    background: #ff6d00;
}
