.cost{
    grid-area: c;
    align-items: center;
    align-self: center;
    background: white;
    border: 2px solid #333;
    border-color: white;
    border-radius: 5px;
}

.p1{
    grid-area: p1;
}

.p2{
    grid-area: p2;
}

.p3{
    grid-area: p3;
}

.container{
    display: grid;
    grid-template-columns: 200px 150px 150px 150px;
    grid-template-rows: 2fr;
    grid-template-areas: 'c p1 p2 p3';
    grid-row-gap: 250px;
}

.peresad {
    text-align: left
}


.time{
    font-size: x-large
}

.btn{
    background: #ff6d00;
}
